Repository lion-packages/database, pull requests merged in 2024-04, with the labels that each got.

#13 Fixed random code generation to assign values to bindValue
  composer.json
  composer.lock
  src/LionDatabase/Drivers/MySQL.php
  src/LionDatabase/Drivers/Schema/MySQL.php
  tests/Drivers/Schema/MySQLTest.php
Labels: bug, dependencies, tests

#14 refactor: Update return types in database interfaces
  src/LionDatabase/Interface/DatabaseConfigInterface.php
  src/LionDatabase/Interface/SchemaDriverInterface.php
  src/LionDatabase/Interface/TransactionInterface.php
  tests/Provider/CustomClassProvider.php
Labels: continuous integration, dependencies, refactor

#15 Format correction to generate schematics
  src/LionDatabase/Drivers/MySQL.php
  src/LionDatabase/Drivers/Schema/MySQL.php
  src/LionDatabase/Helpers/Constants/MySQLConstants.php
  src/LionDatabase/Helpers/DriverTrait.php
  tests/Drivers/MySQLTest.php
  tests/Drivers/Schema/MySQLTest.php
  tests/Helpers/DriverTraitTest.php
  tests/Provider/DriverTraitProviderTrait.php
Labels: bug, refactor, tests

#16 Support and Documentation
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  composer.lock
  docker-compose.yml
Labels: documentation, continuous integration, dependencies
